In [6]:
import os
import swat
import getpass
from sasctl import Session
from sasctl.tasks import register_model, publish_model

Connect to SAS platform (for illustration purposes)

In [7]:
password = getpass.getpass ('Enter your password : ')
hostname = "https://viya4-s2.zeus.sashq-d.openstack.sas.com/"
os.environ["CAS_CLIENT_SSL_CA_LIST"] = r"C:\Users\sbxmip\.vscode\trustedcerts.pem"
conn = swat.CAS('https://viya4-s2.zeus.sashq-d.openstack.sas.com/cas-shared-default-http', username='sbxmip',password=password)
Session(hostname, 'sbxmip', password)

Perform Simple Table Operations

In [8]:

EU_ETS_tbl = conn.CASTable('EU_ETS_CURATED', caslib='EBA')
EU_ETS_tbl.columnInfo()

[ColumnInfo]

                         Column                                              Label  ID    Type  RawLength  FormattedLength    Format  NFL  NFD
 0                           id  Installation id as combination of registry ide...   1    char        288              288              0    0
 1                         name                               Name of installation   2    char       1024             1024              0    0
 2             tradingSystem_id  Trading system in which the installation is re...   3    char         80               80              0    0
 3                  registry_id                       2-digit ISO code of registry   4    char         32               32              0    0
 4                  activity_id                       Key of installation activity   5  double          8               12              0    0
 5                      eprtrID  Identifier in the European Pollution Release a...   6    char        304              304              0    0
 6                parentCompany     Name of the parent company of the installation   7    char        512              512              0    0
 7            subsidiaryCompany     Name of subsidiary company of the installation   8    char       1024             1024              0    0
 8                     permitID              Permit identifier of the installation   9    char        576              576              0    0
 9               designatorICAO  Aircraft: Designator for the aircraft type acc...  10    char        208              208              0    0
 10                monitoringID  Aircraft: Identifier for monitoring plan to de...  11    char        528              528              0    0
 11            monitoringExpiry                Aircraft: Expiry date of monitoring  12    char         16               16              0    0
 12         monitoringFirstYear  Aircraft: First year when monitoring plan beco...  13  double          8                9      DATE    9    0
 13            permitDateExpiry        Date when permit identifier becomes invalid  14  double          8                9      DATE    9    0
 14          isAircraftOperator  Indicator whether the installation is an aircr...  15    char         80               80              0    0
 15              ec748_2009Code  Aircraft: Identifier of aircraft operator unde...  16    char        112              112              0    0
 16             permitDateEntry  Date when permit identifier was create Date wh...  17  double          8               19  DATETIME   19    0
 17                 addressMain                  Main address line of installation  18    char       1024             1024              0    0
 18            addressSecondary             Secondary address line of installation  19    char        544              544              0    0
 19                  postalCode                        Postal code of installation  20    char        272              272              0    0
 20                        city                               City of installation  21    char        496              496              0    0
 21                  country_id                            Country of installation  22    char         32               32              0    0
 22                latitudeEutl                       Latitude as provided by EUTL  23  double          8               12              0    0
 23               longitudeEutl                      Longitude as provided in EUTL  24  double          8               12              0    0
 24              latitudeGoogle    Latitude as derived by address from Google maps  25  double          8               12              0    0
 25             longitudeGoogle   Longitude as derived by address from Google maps  26  double          8               12              0    0
 26                   nace15_id           NACE code according to 2015 leakage list  27  double          8               12              0    0
 27                   nace20_id           NACE code according to 2020 leakage list  28  double          8               12              0    0
 28                     nace_id  NACE code according to 2020 leakage list with ...  29    char        128              128              0    0
 29               euEntitlement  Entitlement for credits created from flexible ...  30  double          8               12              0    0
 30                   nace_desc                              NACE Code description  31    char        800              800              0    0
 31               activity_desc                               Activity description  32    char        800              800              0    0
 32               chEntitlement  Entitlement for credits created from flexible ...  33  double          8               12              0    0
 33                   year_comp                                 Year of compliance  34  double          8               12              0    0
 34    reportedInSystem_id_comp  System in which the data is reported (EUETS or...  35    char         20               20              0    0
 35                  euetsPhase                                 Phase of the EUETS  36    char         36               36              0    0
 36               compliance_id                                    Compliance code  37    char          4                4              0    0
 37               allocatedFree          Number of certificates allocated for free  38  double          8               12              0    0
 38        allocatedNewEntrance  Number of certificates allocated out of the ne...  39  double          8               12              0    0
 39              allocatedTotal             Total number of allocated certificates  40  double          8               12              0    0
 40                allocated10c  Number of certificates allocated under Article...  41  double          8               12              0    0
 41                    verified                   Amount of verified emissions [t]  42  double          8               12              0    0
 42         verifiedCummulative            Cummulative amount of verfied emissions  43  double          8               12              0    0
 43             verifiedUpdated  Indicator whether verified emission have been ...  44    char         20               20              0    0
 44                 surrendered                 Number of surrendered certificates  45  double          8               12              0    0
 45      surrenderedCummulative     Cummulative amount of surrendered certificates  46  double          8               12              0    0
 46              name_accHolder                             Name of account holder  47    char       1024             1024              0    0
 47       addressMain_accHolder                Primary address line account holder  48    char       1024             1024              0    0
 48  addressSecondary_accHolder              Secondary address name account holder  49    char       1024             1024              0    0
 49        postalCode_accHolder                         Postal code account holder  50    char        464              464              0    0
 50              city_accHolder                           City name account holder  51    char       1024             1024              0    0
 51        telephone1_accHolder                      Phone number 1 account holder  52    char        256              256              0    0
 52        telephone2_accHolder                      Phone number 2 account holder  53    char        272              272              0    0
 53             eMail_accHolder                      E-mail address account holder  54    char        624              624              0    0

+ Elapsed: 0.00467s, user: 0.00366s, mem: 1.32mb

In [ ]:
EU_ETS_tbl.head(5)

Fit a linear regression model using the GLM Action set

In [9]:
conn.loadActionSet('regression')
conn.regression.glm( 
    table = dict(name = EU_ETS_tbl, where = 'year_comp = 2021'), 
    classVars=['Country_id','nace_desc','activity_desc'],
    model={'depVar':'verified',
                   'effects':['Country_id', 'activity_desc', 'nace_desc']
                  },
    store = dict(name='reg_model', replace=True),
    selection = {"method":"BACKWARD"}
)

NOTE: Added action set 'regression'.
NOTE: 1396306 bytes were written to the table "reg_model" in the caslib "CASUSER(sbxmip)".

[ClassInfo]

 Class Level Information

            Class  Levels                                             Values
 0     country_id    32.0  AT BE BG CY CZ DE DK EE ES EU FI FR GB GR HR H...
 1      nace_desc   283.0  01.11-Growing of cereals (except rice), legumi...
 2  activity_desc    37.0  1-Combustion installations with a rated therma...

[Dimensions]

 Dimensions

       RowId           Description  Value
 0  NEFFECTS     Number of Effects      4
 1    NPARMS  Number of Parameters    269

[ModelInfo]

 Model Information

          RowId        Description           Value
 0         DATA        Data Source  EU_ETS_CURATED
 1  RESPONSEVAR  Response Variable        verified

[NObs]

 Number of Observations

    RowId                  Description    Value
 0  NREAD  Number of Observations Read  20391.0
 1  NUSED  Number of Observations Used   9678.0

[OutputCasTables]

             casLib       Name Label  Rows  Columns                                         casTable
 0  CASUSER(sbxmip)  reg_model           1        2  CASTable('reg_model', caslib='CASUSER(sbxmip)')

[SelectedModel.ANOVA]

 Analysis of Variance

    RowId           Source      DF            SS            MS     FValue         ProbF
 0  MODEL            Model    33.0  1.953223e+14  5.918857e+12  11.366074  2.546578e-58
 1  ERROR            Error  9644.0  5.022091e+15  5.207477e+11        NaN           NaN
 2  TOTAL  Corrected Total  9677.0  5.217414e+15           NaN        NaN           NaN

[SelectedModel.FitStatistics]

 Fit Statistics

        RowId Description         Value
 0       RMSE    Root MSE  7.216285e+05
 1    RSQUARE    R-Square  3.743661e-02
 2     ADJRSQ    Adj R-Sq  3.414290e-02
 3        AIC         AIC  2.708122e+05
 4       AICC        AICC  2.708124e+05
 5        SBC         SBC  2.613762e+05
 6  TRAIN_ASE         ASE  5.189183e+11

[SelectedModel.ParameterEstimates]

 Parameter Estimates

            Effect                                      activity_desc                                          Parameter  DF      Estimate         StdErr     tValue         Probt
 0       Intercept                                                                                             Intercept   1  6.859095e+03   49797.100193   0.137741  8.904481e-01
 1   activity_desc  1-Combustion installations with a rated therma...  activity_desc 1-Combustion installations with ...   1  5.954701e+04   64411.291611   0.924481  3.552591e-01
 2   activity_desc                    10-Aircraft operator activities      activity_desc 10-Aircraft operator activities   1  3.634178e+04   57311.572423   0.634109  5.260247e-01
 3   activity_desc                           2-Mineral oil refineries             activity_desc 2-Mineral oil refineries   1  2.753877e+06  419597.824497   6.563134  5.539897e-11
 4   activity_desc                             20-Combustion of fuels               activity_desc 20-Combustion of fuels   1  1.582105e+05   50769.882172   3.116228  1.837185e-03
 5   activity_desc                         21-Refining of mineral oil           activity_desc 21-Refining of mineral oil   1  8.836017e+05   83023.296177  10.642817  2.635151e-26
 6   activity_desc                              22-Production of coke                activity_desc 22-Production of coke   1  4.019621e+05  172880.095651   2.325092  2.008769e-02
 7   activity_desc                 23-Metal ore roasting or sintering   activity_desc 23-Metal ore roasting or sintering   1  2.716079e+05  259948.494636   1.044853  2.961172e-01
 8   activity_desc                 24-Production of pig iron or steel   activity_desc 24-Production of pig iron or steel   1  4.788727e+05   71482.797413   6.699132  2.213714e-11
 9   activity_desc      25-Production or processing of ferrous metals  activity_desc 25-Production or processing of f...   1  4.602020e+04   70764.771488   0.650326  5.154969e-01
 10  activity_desc                 26-Production of primary aluminium   activity_desc 26-Production of primary aluminium   1  2.698231e+05  138845.474124   1.943334  5.200487e-02
 11  activity_desc               27-Production of secondary aluminium  activity_desc 27-Production of secondary alumi...   1  4.252630e+04  158495.923239   0.268312  7.884652e-01
 12  activity_desc  28-Production or processing of non-ferrous metals  activity_desc 28-Production or processing of n...   1  8.744943e+04   97554.512640   0.896416  3.700530e-01
 13  activity_desc                    29-Production of cement clinker      activity_desc 29-Production of cement clinker   1  5.109704e+05   69166.066601   7.387588  1.619243e-13
 14  activity_desc  30-Production of lime, or calcination of dolom...  activity_desc 30-Production of lime, or calcin...   1  1.280768e+05   70093.879089   1.827218  6.769794e-02
 15  activity_desc                            31-Manufacture of glass              activity_desc 31-Manufacture of glass   1  5.013402e+04   64621.961657   0.775805  4.378833e-01
 16  activity_desc                         32-Manufacture of ceramics           activity_desc 32-Manufacture of ceramics   1  1.395344e+04   57512.164282   0.242617  8.083071e-01
 17  activity_desc                     33-Manufacture of mineral wool       activity_desc 33-Manufacture of mineral wool   1  4.203715e+04  123210.859129   0.341181  7.329751e-01
 18  activity_desc  34-Production or processing of gypsum or plast...  activity_desc 34-Production or processing of g...   1  2.579497e+04  135129.515718   0.190891  8.486153e-01
 19  activity_desc                              35-Production of pulp                activity_desc 35-Production of pulp   1  2.259918e+04   74819.791393   0.302048  7.626219e-01
 20  activity_desc                36-Production of paper or cardboard  activity_desc 36-Production of paper or cardboard   1  3.300944e+04   60307.283213   0.547354  5.841481e-01
 21  activity_desc                      37-Production of carbon black        activity_desc 37-Production of carbon black   1  8.885443e+04  181966.952332   0.488300  6.253486e-01
 22  activity_desc                       38-Production of nitric acid         activity_desc 38-Production of nitric acid   1  1.089799e+05  142956.532319   0.762329  4.458822e-01
 23  activity_desc                       39-Production of adipic acid         activity_desc 39-Production of adipic acid   1  3.228024e+04  419597.824497   0.076931  9.386797e-01
 24  activity_desc                           41-Production of ammonia             activity_desc 41-Production of ammonia   1  9.324887e+05  172880.095651   5.393847  7.059670e-08
 25  activity_desc                    42-Production of bulk chemicals      activity_desc 42-Production of bulk chemicals   1  1.351383e+05   68594.233870   1.970112  4.885407e-02
 26  activity_desc        43-Production of hydrogen and synthesis gas  activity_desc 43-Production of hydrogen and sy...   1  1.891081e+05  131750.743123   1.435348  1.512205e-01
 27  activity_desc   44-Production of soda ash and sodium bicarbonate  activity_desc 44-Production of soda ash and so...   1  3.931428e+05  223204.963384   1.761353  7.821030e-02
 28  activity_desc  45-Capture of greenhouse gases under Directive...  activity_desc 45-Capture of greenhouse gases u...   1 -6.813095e+03  723344.662380  -0.009419  9.924851e-01
 29  activity_desc  5-Installations for the production of pig iron...  activity_desc 5-Installations for the producti...   1  6.605489e+05  259948.494636   2.541076  1.106672e-02
 30  activity_desc  6-Installations for the production of cement c...  activity_desc 6-Installations for the producti...   1  2.181288e+05  245643.262136   0.887990  3.745682e-01
 31  activity_desc  7-Installations for the manufacture of glass i...  activity_desc 7-Installations for the manufact...   1  3.091132e+04  214185.426608   0.144320  8.852505e-01
 32  activity_desc  8-Installations for the manufacture of ceramic...  activity_desc 8-Installations for the manufact...   1  9.453561e+03  136942.025531   0.069033  9.449645e-01
 33  activity_desc  9-Industrial plants for the production of (a) ...  activity_desc 9-Industrial plants for the prod...   1  4.648325e+04  142956.532319   0.325157  7.450697e-01
 34  activity_desc  99-Other activity opted-in pursuant to Article...  activity_desc 99-Other activity opted-in pursu...   0  0.000000e+00            NaN        NaN           NaN

[SelectionInfo]

 Selection Information

            RowId                Description     Value  NValue
 0         METHOD           Selection Method  Backward     NaN
 1   SELCRITERION           Select Criterion       SBC     NaN
 2  STOPCRITERION             Stop Criterion       SBC     NaN
 3      HIERARCHY  Effect Hierarchy Enforced    Single     NaN
 4    STOPHORIZON               Stop Horizon         3     3.0

[Summary.SelectedEffects]

 Selected Effects

                Label                  Effects
 0  Selected Effects:  Intercept activity_desc

[Summary.SelectionReason]

 Selection Reason

                              Reason
 0  The model at step 2 is selected.

[Summary.SelectionSummary]

 Selection Summary

   Control  Step  EffectRemoved  nEffectsIn            SBC  OptSBC
 0             0                          4  262823.586980       0
 1       -     1      nace_desc           3  261517.758473       0
 2             2     country_id           2  261376.207674       1
 3             3  activity_desc           1  261442.614081       0

[Summary.StopReason]

 Stop Reason

                                               Reason  Code
 0  Backward selection stopped because all eligibl...     2

[Timing]

 Task Timing

             RowId                  Task      Time   RelTime
 0           SETUP     Setup and Parsing  0.014555  0.011709
 1    LEVELIZATION          Levelization  1.033333  0.831248
 2  INITIALIZATION  Model Initialization  0.001662  0.001337
 3            SSCP      SSCP Computation  0.093990  0.075609
 4         FITTING       Model Selection  0.055427  0.044587
 5           STORE         Model Storing  0.041366  0.033276
 6         CLEANUP               Cleanup  0.007247  0.005830
 7           TOTAL                 Total  1.243110  1.000000

+ Elapsed: 1.45s, user: 6.94s, sys: 1.13s, mem: 6.75mb

Register and Publish GLM Model

In [11]:
astore = conn.CASTable('reg_model')
model = register_model(astore, 'Glm_2021_back', 'GHG Emissions Model', force=True)

NOTE: Added action set 'astore'.
NOTE: 1396306 bytes were downloaded from the table "REG_MODEL" in the caslib "CASUSER(sbxmip)".

In [ ]:
module = publish_model(model, 'maslocal')

Score first row

In [ ]:
# Pass a row of data to MAS and receive the predicted result.
first_row = EU_ETS_tbl.head(1)
result = module.score(first_row)
print(result)